:host {
    display: block;
    height: 100%;

    div {
        display: grid;

        ::ng-deep.mat-tab-body-wrapper {
            margin-top: 15px;
        }

        mat-card {
            align-self: center;
            justify-self: center;
            margin-top: 10px;

            form {
                display: flex;
                flex-flow: column nowrap;
            }
        }
    }
}
