@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$spif-fe-primary: mat-palette($mat-cyan);
$spif-fe-accent: mat-palette($mat-orange, A200, A100, A400);

// The warn palette is optional (defaults to red).
$spif-fe-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$spif-fe-theme: mat-dark-theme($spif-fe-primary, $spif-fe-accent, $spif-fe-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($spif-fe-theme);

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px mat-color(mat-palette($mat-grey), 100);
}

::-webkit-scrollbar-thumb {
    background-color: mat-color(mat-palette($mat-grey), 800, 0.6);
}

html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    background: mat-color(mat-palette($mat-grey), 900);
    color: mat-color(mat-palette($mat-grey), 300);
    min-height: 100vh;
    display: flex;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
}

.roomName {
    color: mat-color(mat-palette($mat-grey), 50);
    font-weight: bold;
}

.mono {
    font-family: monospace;
}

b {
    color: mat-color(mat-palette($mat-yellow), 300);
    font-weight: bolder;
}

a {
    color: mat-color(mat-palette($mat-brown), 200);
    cursor: pointer;
    // text-decoration: underline;

    &:hover {
        text-decoration: underline;
    }

    &.npc {
        color: mat-color(mat-palette($mat-yellow), 200);
    }
}

preset {
    &.speech,
    &.whisper {
        color: mat-color(mat-palette($mat-green), 400);
    }
}
