@import '~@angular/material/theming';

:host {
    display: block;
    position: relative;

    .container {
        overflow-y: scroll;
        height: 100%;
        width: 100%;
        white-space: pre-wrap;
    }

    button {
        position: absolute;
        right: 18px;
        bottom: 2px;
        z-index: 1000;
    }
}
